<div class="publication-item">
<strong>{{- item.title -}}</strong><br>
<div class="author-names">{% if item.authors %}
{{- item.authors -}}<br>
{% else %}
{%- include author-names.liquid -%}<br>
{% endif %}<em>
{%- if item.under_prep %}{{- "Under Preparation" -}}<br>
{% elsif item.under_sub %}{{- "Under Submission" -}}<br>
{% elsif item.under_major_rev %}{{- "Under Major Revision" -}}<br>
{% endif %}
</em>
{% if item.note %}
{{- item.note -}}
{% endif %}</div>
{%- if item.abbr -%}<div class="abbr">{{- item.abbr -}}{% if item.year %}{{" "}}{{- item.year -}}{% endif %}</div>{% endif %}
{%- if item.arxiv -%}
<a href="http://arxiv.org/abs/{{ item.arxiv }}" class="arxiv-button-link">
    <button class="arxiv-button"></button>
</a>
{% endif %}
{%- if item.abstract -%}
<button class="show-abstract-btn"></button>
<div class="abstract-content" style="display: none;">
  {{ item.abstract }}
</div>
{% endif %}
</div>
<p></p>
