{% assign item = site.data.bibliography | where: "id", id | first %}<span class="footnote"><span class="show-footnote-trigger">{{ "[" }}{{- item.alpha_id -}}{{ "]" |  strip }}</span>
<span class="footnote-content" style="display: none;">
<span class="publication-item">
<strong>{{- item.title -}}</strong><br>
<span class="author-names">
{{- item.authors | replace: '*', '&#42;' -}}<br></span><span class="note">
{%- if item.under_prep %}{{- "Under Preparation" -}}<br>
{% elsif item.under_sub %}{{- "Under Submission" -}}<br>
{% elsif item.under_major_rev %}{{- "Under Major Revision" -}}
{% if item.abbr %}
{{ " at " }}{{ item.abbr }}
{% endif %}<br>{% endif %}{% if item.note %}{{- item.note -}}<br>{% endif %}</span>
{%- if item.abbr -%}{% unless item.under_major_rev %}<span class="abbr">{{- item.abbr -}}{% if item.year %}{{" "}}{{- item.year -}}{% endif %}</span>{% endunless %}{% endif %}
{%- if item.arxiv -%}<a href="http://arxiv.org/abs/{{ item.arxiv }}" target="_blank" class="arxiv-button-link"><button class="arxiv-button"></button></a>{% endif %}</span></span></span>
